service cloud.firestore {
  match /databases/{database}/documents {

    // Coleção de usuários (mantém controle normal)
    match /usuarios/{userId} {
      allow read, write: if request.auth != null;
    }

    // Coleção de pedidos (somente autenticado)
    match /pedidos/{pedidoId} {
      allow read, create, update, delete: if isUsuarioInterno();
    }

    match /servicos/{servicoId} {
      allow read, write: if isUsuarioInterno();
    }

    match /servicosStatus/{docId} {
      allow read, write: if isUsuarioInterno();
    }

    // Função que define o usuário interno
    function isUsuarioInterno() {
      return request.auth != null;
    }

    // Coleção de atendimentos: apenas create público
    match /atendimentos/{docId} {
      allow create: if true;
      allow read, update, delete: if isUsuarioInterno();
    }

    match /servicosAtendimento/{docId} {
      allow read, write: if isUsuarioInterno();
    }

    match /pedidosAtendimento/{pedidoId} {
      allow read, create, update, delete: if isUsuarioInterno();
    }
  }
}
